{% extends "ecommerce/base_padrao.html" %}
{% load static %}

{% block title %}Seu Carrinho{% endblock %}

{% block content %}
    <h1>Seu Carrinho de Compras</h1>

    {% if cart_items %}
        <ul class="cart-items-list"> 
            {% for item in cart_items %}
                <li>
                    <span class="item-details">
                        {{ item.quantity }} x {{ item.product.nome }} - R$ {{ item.product.preco|floatformat:2 }} cada
                        (Total: R$ {{ item.get_total|floatformat:2 }})
                    </span>

                    <form action="{% url 'remover_item_carrinho' item.id %}" method="post" class="remove-item-form">
                        {% csrf_token %}
                        <button type="submit" class="remove-button">Remover</button>
                    </form>
                </li>
            {% endfor %}
        </ul>

        <div class="cart-summary"> 
            <h3>Total do Carrinho: R$ {{ total_carrinho|floatformat:2 }}</h3>

            <form action="{% url 'checkout' %}" method="get"> 
                <button type="submit" class="checkout-button">Finalizar Compra</button>
            </form>
        </div>

    {% else %}
        <p>Seu carrinho está vazio.</p>
    {% endif %}

    <p><a href="{% url 'lista_produtos' %}">Continuar Comprando</a></p>
{% endblock %}